body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000000, #1a1a1a);
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero {
    text-align: center;
    color: white;
  }
  
  .hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #aaa;
  }
  
  .btn {
    text-decoration: none;
    padding: 15px 30px;
    background: linear-gradient(45deg, rgb(193, 7, 234), #690270);
    color: #000;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 0 20px #FF10F0;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    box-shadow: 0 0 40px #FF10F0;
    transform: scale(1.05);
  }
  